.white-section {
	padding:20px 0px;
}
.table-block {
	border: 5px solid #F2F2F2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px 13px;
}
.table-block .blue-table {
	border:none;
}
.table-block .blue-table tr td:nth-child(n+2) {
	font-size:16px!important;
	background: none;
	line-height: 17px;
}
.table-block .blue-table thead tr td {
	color:#9ACE4E!important;
	border-top:1px dashed #efefef!important;
}
.table-block .pre-total-table tr td:first-child {
	border-bottom:1px dashed #00AF73;
	border-top: none;
	text-transform: none;
	font-size: 16px!important;
}
.table-block .blue-table tr td {
	vertical-align:middle;
	border-right:1px solid #EFEFEF;
}
.table-block .blue-table tr td:last-child {
	border-right:none;
}
.table-block .blue-table tr td:nth-child(4), .table-block .blue-table tr td:first-child {
	color:#8F9593;
}
.table-block h3 {
	text-align:center;
	color: #04ad77;
	font-size: 28px;
	font-style: italic;
	margin-bottom: 30px;
}
.white-section h3 {
	color: #04ad77;
	font-size: 28px;
	font-style: italic;
	padding:0px 15px;
}
.dp-investor h3 {
	margin-bottom: 35px;
	margin-top: 25px;
	text-align: center;
}